.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: red;
  background-color: transparent;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: red;
  background-color: transparent;
}

.jake_logo {
	text-align: center;
	padding-top: 7%;
}

.general_center {
	text-align: center;
	padding-top: 2%;
}
.social_media {
	height: 180px;
	width: 180px;
}

.coming_soon{
	text-align: center;
	padding-top: 20%;
	font-size: 45px;
}

.email_me{
	text-align: center;
	padding-top: 3%;
}
.general_left{
	text-align: left;
	padding-top: 5%;
	padding-left: 10%;
}
.make-lg-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);
